*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html{
	scroll-behavior: smooth;
}

.banner{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,255,130,0.5)),url(background.jpg);
	background-size: cover;
	background-position: center;
}

.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.logo{
	width: 100px;
	cursor: pointer;
}

.navbar ul li a{
	font-family: 'Advent Pro';
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 100%;
	background: #00FFB0;
	position: absolute;
	left: 0;
	bottom: 25px;
}

.main-content{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #BDEAFF;

}

.main-content h1{
	font-family: 'Advent Pro';
	font-size: 70px;
	margin-top: 80px;
}

.main-content p{
	margin: 25px auto;
	font-weight: 100;
	line-height: 25px;
}

button{
	width: 150px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 20px;
	font-weight: bold;
	border: 3px solid #00AEFF;
	background: transparent;
	color: white;
	cursor: pointer;
	box-shadow: 0px 0px;
	transition-duration: 0.5s;
	position: relative;
	overflow: hidden;
}

button:hover{
	box-shadow: 2px 5px 20px #00AEFF;
	border: none;
}

span{
	background-color: #00FFCB;
	height: 100%;
	width: 0%;
	border-radius: 15px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

button:hover span{
	width: 100%;
}

.getStarted{
	width: 100%;
	text-align: center;
	position: absolute;
	background-image: url(background2.jpg);
	background-size: cover;
	background-position: center;
  	box-shadow: 0px -5px 10px #424242;
	margin-top: -50px;
}

.getStarted h1{
	font-family: 'Advent Pro';
	font-size: 70px;
	margin-top: 50px;
}


